'use strict';

// Note: pour des raisons pratiques certaines constantes sémantiquement parlant sont en fait des factory ou des services

angular.module( 'cahierDeTextesClientApp' )
    .constant( 'VERSION', '{{ laclasse_cahiertextes_version }}' )
    .constant( 'APP_PATH', '{{ laclasse_cahiertextes_path }}' )
    .constant( 'DOCS_URL', '{{ laclasse_main_domain }}{{ laclasse_services.docs.path }}' )

