########################################################
#  Ansible Managed                                     #
#  ansible-laclasse-cahiertextes/templates/pronote.j2  #
########################################################
{{ laclasse_pronote_key }}
