{
  "cahiertextes": {
    "description": "{{ laclasse_services.cahiertextes.description }}",
    "title": "{{ laclasse_services.cahiertextes.title }}",
    "app_id": "{{ laclasse_services.cahiertextes.app_id }}",
    "path": "{{ laclasse_services.cahiertextes.path }}",
    "version": {
      "asked": {{ laclasse_cahiertextes_version }}",
      "current": "{{ git_tag.stdout }}"
    }
  }
}
